<div class="comment">
  <hr>
  <p>
  {{score}} by {{creator}} {{time_ago}}
  | <a data-method="patch" href="/comments/{{id}}/vote?direction=up" rel="nofollow">Upvote</a>
  | <a data-method="patch" href="/comments/{{id}}/vote?direction=down" rel="nofollow">Downvote</a>
  </p>
  {{body}}
</div>
